<!DOCTYPE html>
<html lang="ko">
    <head>
        <title>{{ stock_name }}</title>
    </head>
    <body>
        <!-- 여기에 해당 주식의 어제종가 띄우고 -->
        <form action="/buy/{{ num }}" method="POST">
            <input type="hidden" name="stock_name" value="buy">
            <input type="number" name="number"/>
            <input type="submit" value="buy">
        </form>
        <!-- 보유 주식 
                손익
            현재 시가 -->
        <a href="/"><button>go to home</button></a>
    </body>
</html>
