<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <style>
        body {
            background-color: rgb(54,54,54);
            margin: 0;
            border: 5px solid rgb(54,54,54);
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh; /* viewport height 설정 */
        }
        .container {
            color:aliceblue;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    </style>
</head>
<body>
    <div class="container">
        <form action="/login" method="post">
            <div>login</div>
            <input type="text" name="login_email" placeholder="email">
            <br/>
            <input type="text" name="login_password" placeholder="password">
            <br>
            <button id="submit" type="submit">Submit</button>
        </form>
    </div>
</body>
</html>
