<!DOCTYPE html>
<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <title>my page</title>
        <style>
            body {
                background-color: rgb(54,54,54);
            }
            h2 {
                background-color:rgb(54,54,54);
                color: white;
            }
            form {
                background-color: rgb(54,54,54);
                color: white;
            }
        </style>
        <script>
            function removeAccount(){
                let a = 0;
                const URL = "www.naver.com";
                var remove = confirm("계정을 탈퇴하시겠습니까?");
                if (remove){
                    $.ajax({
                        url: 'http://127.0.0.1/remove',
                        type: 'POST',
                        success: function(data) {
                            console.log(data);
                            location.href="/sign";
                        },
                        error: function(jqXHR, textStatus, errorThrown) {
                            alert("실패");
                        }
                    });
                }
            }
        </script>
    </head>
    <body>
        <h2>my page</h2>
        <div class="container">
            <form action="/my" action="POST">
                <input type="number" name="number" placeholder="구매할 주식 수량" required min="1" max="999999999">
                <button type="submit">submit</button>
            </form>
            <br/>
            <a href="/my/check"><button>Personal information</button></a>
            <button onclick="removeAccount()">회원 탈퇴</button>
        </div>
    </body>
</html>