<!DOCTYPE html>
<html>
    <head>
        <title>my page</title>
        <style>
            body {
                background-color: rgb(54,54,54);
            }
            h2 {
                background-color: white;
            }
            form {
                background-color: white;
            }
        </style>
    </head>
    <body>
        <h2>my page</h2>
        <div class="container">
            <form action="/my" action="POST">
                <input type="checkbox" name="offensive" value="offensive">offensive</input>
                <br/>
                <input type="checkbox" name="balance" value="balance">balance</input>
                <br/>
                <input type="checkbox" name="defend" value="defend">defend</input>
                <br/>
                <br/>
                <input type="checkbox" name="auto" value="auto">auto</input>
            </form>
        </div>
    </body>
</html>